/* Universal Styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  margin: 0px;
}

a:link {
  color: rgb(149, 173, 206);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(103, 126, 170);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(123, 101, 189);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(173, 116, 143);
  background-color: transparent;
  text-decoration: underline;
}

nav.navigation {
  display: block;
  unicode-bidi: isolate;
  background-color: rgb(158, 158, 158);
  margin: 0px;
  box-sizing: border-box;
}
.navigation ul {
  display: flex;
  list-style: none;
  background-color: white;
  opacity: 70%;
  box-sizing: content-box;
  font-variant: small-caps;
  text-align: left;
  margin: 0;
  padding: 20px 2.5%;
  /* opacity: 75%; */
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
}

.navigation ul a {
  display: block;
  padding: 4px;
}

.navigation ul a:hover {
  text-decoration: none;
 
}

.photo1 {
  width: 450px;
  border-style: solid;
  border-color: rgb(158, 158, 158);
  border-width: 4px;
  border-radius: 12px;
  margin-top: 80px;
  margin-left: 20px;
}

.patern {
  width: 730px;
  border-style: solid;
  border-color: rgb(158, 158, 158);
  border-width: 4px;
  border-radius: 12px;
}

.tvoru {
  padding-left: 10px;
  color: rgb(158, 158, 158);
  font-size: 72px;
  text-align: left;
  font-family: "Dela Gothic One", sans-serif;
  margin: 0px;
  margin-left: 15px;
}

.sub {
  padding-left: 45px;
  color: rgb(103, 103, 103);
  font-size: 16px;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}

.aboutme {
  width: 700px;
  padding-left: 45px;
  color: rgb(158, 158, 158);
  font-size: 14px;
  text-align: left;
  font-family: Roboto, sans-serif;
  margin-bottom: 20px;
}

.list {
  padding-left: 45px;
  color: rgb(158, 158, 158);
  font-size: 14px;
  text-align: left;
  font-family: Roboto, sans-serif;
  margin-top: 5px;
}

.list li::marker {
  content: "♥";
}

.text {
  padding-left: 10px;
  color: rgb(158, 158, 158);
  font-size: 16px;
  text-align: left;
  font-family: Roboto, sans-serif;
  margin: 0px;
  margin-left: 20px;
}

h5 {
  padding-left: 30px;
  color: rgb(158, 158, 158);
  font-size: 12px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  width: 700px;
  padding-left: 45px;
  color: rgb(158, 158, 158);
  font-size: 14px;
  text-align: left;
  font-family: Roboto, sans-serif;
}

h3 {
  padding-left: 20px;
  color: rgb(158, 158, 158);
  font-size: 14px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding-left: 20px;
  color: rgb(158, 158, 158);
  font-size: 14px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
h4 {
  padding-left: 20px;
  color: rgb(158, 158, 158);
  font-size: 14px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.name {
  padding-left: 20px;
  color: rgb(158, 158, 158);
  font-size: 14px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.me {
  width: 15%;
}

img {
  width: 100%;
}

.gallery {
  width: 300px;
  border-style: solid;
  border-color: rgb(158, 158, 158);
  border-width: 4px;
  border-radius: 12px;
  margin-top: 10px;
  margin-left: 20px;
}

.galleryhor {
  width: 600px;
  border-style: solid;
  border-color: rgb(158, 158, 158);
  border-width: 4px;
  border-radius: 12px;
  margin-top: 10px;
  margin-left: 20px;
}
